<!DOCTYPE html>
<html lang='zh-CN'>
    <head>

        <link href='css/contact.css' rel='stylesheet'>
        <% include head %>
        <meta visible='hidden' id='GroupID_' content=<%- GroupID%> />
    </head>
    <body>
        <%include naviguide %>
        <div class='container'>
            <div class='row'>

                <div class='col-md-2 col-sm-12'>
                    <div class='panel panel-primary' style="boader-color:gray;overflow:scroll;height=450px;" id="panel-left">
                      <ul style='height:500px'>
                        <%if (contact!=null) {%>
                        <%for (var i =0;i<contact.length;i=i+1){%>
                            <a href=<%- '"'+"./Contact?GroupID="+contact[i].GroupID+'"' %> class=<%- '"'+"list-group-item "+((contact[i].GroupID==GroupID)?'active':'')+'"'%>>
                                <span class=<%- '"'+"glyphicon glyphicon-home"+'"'%>></span>
                                &nbsp;<%- contact[i].description %></a>
                        <%}%>
                        <%}%>
                      </ul>
                    </div>
                </div>
                <div class='col-md-10 col-sm-12'>
                    <div class='panel panel-primary' style='background-color:#f3f3f3' overflow='scroll' height='100px'>
                        <ul class="content-reply-box mg10" style='height:450px;overflow:scroll' id='content'></ul>
                        <ul class="panel panel-footer">
                            <div class='row'>
                                <div class='col-md-10 col-sm-10'><input type='text' class='form-control' id='input_message'/></div>
                                <div class='col-md-2 col-sm-2'>
                                    <button onclick="sendmessage()" class='btn btn-primary btn-block'>发送</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include footer.html %>
</body>
<script src='/socket.io/socket.io.js'></script>
<script src='js/contactor_client.js'></script>
<%include foot.html %>
<script type='text/javascript'>
  window.onload=function(){
    Zhepin.init();
    Zhepin.sendUser()
    while(flag!=1);
    Zhepin.getContent()
  }
    window.onbeforeunload = function(event) {
        return Zhepin.disconnect();
    }
    function sendmessage() {
        Zhepin.sendMessage()
    }
    $(document).ready(function() {
        $("#input_message").keyup(function() {
            if (event.keyCode == 13) {
                sendmessage()
            }
        });

    })
</script>
</html>
